# .env.example file
# shows the variables needed in .env WITHOUT their assignments. 
# this file WON'T be gitignored, to help repo viewers know what they'll need in an .env file to get the project to work (such as database credentials, API keys, etc.)
# Project: 9.2 Security
DB_USER=
DB_HOST=
DB_DATABASE=
DB_PASSWORD=
DB_PORT=